# 1. Program to reverse a string

In [16]:
s=input("Enter a string to be reversed")#input the string
l=len(s)#get the length of the string
rev_s=''  #set a new variable to store reversed string
for i in range(l):  # for loop iterated over the whole length of the string
    rev_s=rev_s+s[l-i-1]  
print("Reverse Srting =",str(rev_s))

Enter a string to be reversed asjdksd

Reverse Srting = dskdjsa

# 2.Palindrome string check

In [26]:
s=input("Enter a string ")
l=len(s)
s=s.upper()
rev_s=''
for i in range(l):
    rev_s=rev_s+s[l-i-1]

if(s==rev_s):          # checking for palindrome
    print("Palindrome")
else:
    print('Not a Palindrome')

Enter a string  sahjdg  GDjHas

Palindrome

# 3. Convert a string to Upper_case

In [29]:
s=input('enter a string')
print(s.upper()) # string.upper() functon converts all the characters in the string to upperCase

enter a string adsgjasd

ADSGJASD

# 4.Convert a string to lower_case

In [30]:
s=input('enter a string')
print(s.lower()) # string.lowe() functon converts all the characters in the string to lowerCase

enter a string jgdadTHFsrF

jgdadthfsrf

# 5. Count no of Vowels in a String

In [ ]:
s=input('enter a string') # input the string
vowel_count=0 # count of vowels initialised to 0
for i in s:   # iterating over the whole length of the string
    if i in 'aeiou' or i in 'AEIOU':  # cheching if the char iterated is in the vowel group
        vowel_count+=1  # if condition true it  is counted
print("The number of Vowels in the String = ",vowel_count)

# 6. Count the number of Consonants

In [36]:
s=input('enter a string')       
count=0
s=s.lower() # converting the whole string to lowerCase.Done so that we need not provide the upperCase consonants in the if statement below
for i in s:
    if i in 'bcdfghjklmnpqrstvwxyz':
        count+=1
print("The number of Consonants in the String = ",count)

enter a string zksdbYTDAI

The number of Consonants in the String =  8

# 7. Remove all white spaces from a string

In [1]:
input_string=input("Enter a String")       
out_s=input_string.replace(' ','')  # replace function replaces the first argument with the second in the string
print("The output String= ",out_s)

Enter a String sahu uidsy 78  at5%^ &^R4

The output String=  sahuuidsy78at5%^&^R4

# 8.Length of string without using len() function

In [43]:
input_string=input("Enter a String")
l=0
for i in input_string:
    l+=1
print("Length of the string =",l)

Enter a String ashdgj hftv

Length of the string = 11

# 9. Check if a string contains a word

In [2]:
input_string=input("Enter a String")  # inputting the string
input_list=input_string.split()    #coverting the string to  list of words
word=input("Enter the word to check") 
if word in input_list: # checking for 'word' in list
    print(word,"found")
else:
    print(word,"Not found")

Enter a String hi there ghow are you doing how to do
Enter the word to check how

how found

# 10. Replace a word in a string with another Word

In [3]:
string='jhs kasg ishs '
string.replace(' kasg','Hello')

'jhsHello ishs '

# 11. Count the number of occurrences in a string

In [20]:
i_s=input("Enter a string")
i_s=i_s.lower()
for i in i_s:
    if i.isalpha()==False:
        i_s=i_s.replace(i,' ')
word=input("Enter the word to count")
word=word.lower()
l=i_s.split()
print(l)
count=0
for i in l:
   if i==word:
    count+=1
    print(i)
print(count)

Enter a string theis is a message there *7there is there*&^8 <<there THEre
Enter the word to count TheRE

['theis', 'is', 'a', 'message', 'there', 'there', 'is', 'there', 'there', 'there']
there
there
there
there
there
5

# 12. Find the first occurrence of a word in a string.

In [5]:
s=input("Ente the string")
s=s.lower()       #convert all characters to lowerCase
word=input('Enter the word to check')
word=word.lower()  
s_l=s.split()   #split the string to words along whitespaces
i=0          # i is initailised for further use
for i in range(len(s_l)):     # checking for the word in the list in the forward direction 
    if s_l[i]==word: 
        break                  #when word found the loop is broken
print("First occurrence of th word is :"+str(i+1)) # The word is foud at positionn i+1

Ente the string there is my film series film to be here goes film
Enter the word to check film

First occurrence of th word is :4

# 13. Find the last occurrence of a word in a string.

In [12]:
s=input("Ente the string")
s=s.lower()
word=input('Enter the word to check')
word=word.lower()
for i in s:                          # for each character in the string
    if (ord(i) not in range(ord('a'),ord('z')+1)) and (ord(i) not in range(ord('A'),ord('Z')+1)) : #if the character is not an alphabet
        s=s.replace(i,' ')  # the character is converted to space which is then removed at the split()
s_l=s.split()
s_l.reverse()        #reverse() reverses the order of the list s_l
i=0
for i in range(len(s_l)):    #iterating over the reversed list to find the first occurance if the iterseted word 'word' 
    if s_l[i]==word:
        break               #the loop is broken at the first instance of occurencxe of 'word'
print("Last occurrence of the word is :"+str(len(s_l)-i)) # the index is found using the reverse formula

Ente the string hi there my apple,&^ (97 is my apple there..
Enter the word to check APPle

['there', 'apple', 'my', 'is', 'apple', 'my', 'there', 'hi']
Last occurrence of the word is :7

# 14 Split a string into a list of words.

In [33]:
s=input('Enter the string')
s_l=s.split()
print(s_l)

Enter the string ashgd aysd hasid tasfd

['ashgd', 'aysd', 'hasid', 'tasfd']

# 15. Join a list of words into a string.

In [7]:
s=[]
a=''
n=int(input('Enter the number of words'))
for i in range(n):
    s.append(input('Enter the word'))
for i in s:
    if s.index(i)==0:
        a+=i
    else:
        a=a+' '+i
print(a)

Enter the number of words 7
Enter the word this
Enter the word is
Enter the word my
Enter the word birthday gift.
Enter the word it
Enter the word is
Enter the word very beautiul!

this is my birthday gift. it is very beautiul!

# 16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [17]:
s=input("Ente the string")
s=s.replace(' ','_')
print(s)

Ente the string This is an Example sentence

This_is_an_Example_sentence

# 17. Check if a string starts with a specific word or phrase.

In [42]:
s=input("Ente the string")
word=input("Enter the word")
index=s.find(word)   # checks if the first instance of occurence of 'word'is 0 if yes:True
if index==0 :
    print('True')
else:
    print('Fasle')

Ente the string this is an exapmle
Enter the word that

Fasle

# 18. Check if a string ends with a specific word or phrase.

In [48]:
s=input("Ente the string")
word=input("Enter the word")
result=s.endswith(word)   # checks if the string ends with 'word' returns true if condition is fulfilled
print(result)

Ente the string this ia sn exampe for that
Enter the word that

True

# 19. Convert a string to title case

In [49]:
s=input("Ente the string")
s=s.title()
print(s)

Ente the string thsa fsa safasd jash

Thsa Fsa Safasd Jash

# 20. Find the longest word in a string.

In [13]:
s=input("Ente the string")
s_l=s.split()    
index=0      
for i in range(len(s_l)):
    if i ==0:
        lar=len(s_l[i])  # length of the first word in the list is assigned as the largest in the first iteration
    if lar < len(s_l[i]): #the lar variable is then comapred with the length of the susequent word in the list 
        lar=len(s_l[i])   # each time the above condition is met lar value is updated and the value of index is set as the i
        index=i    
print('Longest word =',s_l[index])  # returns the largest word in the string

Ente the string thsi is the largest word in the stringgggg 6527 9278

Longest word = stringgggg

# 21. Find the shortest word in a string.

In [54]:
s=input("Ente the string")
s_l=s.split()
index=0
for i in range(len(s_l)):
    if i ==0:
        small=len(s_l[i])
    if small >= len(s_l[i]):
        small=len(s_l[i])
        index=i
print('Shortest word =',s_l[index])

Ente the string theis is ajj short convo

Shortest word = is

# 22. Reverse the order of words in a string.

In [9]:
st=input("enter a string")
s_l=st.split()
rev_s_l=s_l[::-1]
rev=''
for i in rev_s_l:
    if rev_s_l.index(i) ==0:# this if statement is done so that the first element of the reversed order string is not a whitespace
        rev+=i
    else:
        rev=rev+' '+i
print(rev)

enter a string this is my first python Code agyag atrda tfta dra

dra tfta atrda agyag Code python first my is this

# 23. Check if a string is alphanumeric.

In [15]:
st=input("enter a string")
if (st.isalnum()):   #isalnum() function returns true if all the characters in the string are alphanumeric
    print("String is alphanumeric")
else:
    print("String is not alphanumeric")

enter a string hg1y6 76$%#$

String is not alphanumeric

# 24. Extract all digits from a string.

In [16]:
st=input("enter a string")
digits=''
for i in st:         # for each character in the string
    if i.isdigit():  #isdigit() returns true if the character is a digit
        digits+=i    #that iterable item is added to the digit variable through string concatenation
print("Digits in the string = ",digits)

enter a string shjga6565 agsyg65651

Digits in the string =  656565651

# 25. Extract all alphabets from a string.

In [20]:
st=input("enter a string")
alp=''
for i in st:
    if i.isalpha():
        alp+=i
print("Extracted alphabets =",alp)

enter a string ashk 66 HGSHG6465786755%%uyjy

Extracted alphabets = ashkHGSHGuyjy

# 26. Count the number of uppercase letters in a string.

In [22]:
st=input("enter a string")
c=0
for i in st:
    if i.isupper():
        c+=1
print(c)

enter a string sabhasg&&FGTH

4

# 27. Count the number of lowercase letters in a string.

In [23]:
st=input("enter a string")
c=0
for i in st:
    if i.islower():
        c+=1
print(c)

enter a string hkugFDRYJGYD&%^$^866

4

# 28. Swap the case of each character in a string.

In [29]:
st=input("enter a string")
new_st=''
for i in st:             # looping over each character in the string
    if i.isupper():      # if character is upper convert it to lower_case
        i=i.lower() 
        new_st+=i        # add the case_swapped character to the new string
    else:
        i=i.upper()      # if the above if condition fails  then convert the character to upper_case
        new_st+=i        # add the character to the new string 
print(new_st)

enter a string HBHSGGY yay**%^ ags

hbhsggy YAY**%^ AGS

# 29 Remove a specific word from a string.

In [32]:
st=input("enter a string")               
word=input("Enter the word to delete")
st_new=''
st_l=st.split()                       # splitting the string into a list of words along the blanksapces
for i in st_l:                        # iterating over each word in the list
    if i == word:                     # if the word == target_word we skip the loop 
        continue
    elif st_l.index(i) ==0:
        st_new+=i                     #then we add the first word to the string without a blankspace
    else:
        st_new=st_new+' '+i           # the remaining words in the list are added to the string with a blank_space
print(st_new)

enter a string tj hi there it i sthe there to b ein there gor it there fotrin
Enter the word to delete there

tj hi it i sthe to b ein gor it fotrin

# 30. Check if a string is a valid email address.

In [104]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

# 31. Extract the username from an email address string.

In [34]:
emailID=input("Enter the mailID")
l=emailID.split('@')
username=l[0]
print(f"Username is : {username}")

Enter the mailID yasy21057s@gmail.com

Username is : yasy21057s

# 32. Extract the domain name from an email address string.

In [36]:
emailID=input("Enter the mailID")
l=emailID.split('@')
domain=l[1]
print(f"Domain-name is : {domain}")

Enter the mailID yasy174s@yahoo.com.in

Domain-name is : yahoo.com.in

# 33. Replace multiple spaces in a string with a single space.

In [38]:
s=input("enter the string")
new_string=' '.join(s.split())# first splits the string into a list of words then join the list along blank_space
print(new_string)

enter the string hi    there   to be bu  sht   sug

hi there to be bu sht sug

# 34. Check if a string is a valid URL.

# 35. Extract the protocol (http or https) from a URL string.

In [2]:
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"
def url(u):
    n=u.find("://")
    if n!=-1:
        return n
    else:
        return None
n1=url(url1)
n2=url(url2)
n3=url(url3)
print(url1[:n1])
print(url2[:n2])
print(url3[:n3])

https
http
ftp

# 36. Find the frequency of each character in a string.

In [5]:
s=input('Enter a String ') 
frequency={}                 # a dictionary is initialized
for char in s:               #iterating over each character in the string
  if char in frequency:      # if char is in dictionary above
    frequency[char]+=1       # the value corresponding to that char(key) is incremented by 1
  else:
      frequency[char]=1      # if the char is coming for the first time the value correspondng to that char is set to 1
print(frequency.items())
for char,freq in frequency.items():
  print(f"Character : '{char}', Frequency : {freq}")

Enter a String  akjush yas d

dict_items([('a', 2), ('k', 1), ('j', 1), ('u', 1), ('s', 2), ('h', 1), (' ', 2), ('y', 1), ('d', 1)])
Character : 'a', Frequency : 2
Character : 'k', Frequency : 1
Character : 'j', Frequency : 1
Character : 'u', Frequency : 1
Character : 's', Frequency : 2
Character : 'h', Frequency : 1
Character : ' ', Frequency : 2
Character : 'y', Frequency : 1
Character : 'd', Frequency : 1

# 37. Remove all punctuation from a string.

In [8]:
s=input('Enter a String ')
new_s=''
for char in s:
    if char in ".,:;/\!@#$%^&*()-_][}{'?><" or char in '"':
        continue
    else:
        new_s+=char
print(new_s)

Enter a String  hello! woeld ho wi sit__going-&*^ haas

hello woeld ho wi sitgoing haas

# 38. Check if a string contains only digits.

In [8]:
s=input('Enter a String ')
r=0;
for char in s:
    if char not in '1234567890 ':
        r+=1
if r==0:
    print('True the string contains only digits')
else:
    print('False')

Enter a String  62753 83285

True the string contains only digits

# 39. Check if a string contains only alphabets.

In [9]:
s=input('Enter a String ')
if s.isalpha():
    print('True the string contains only alphabetical letters')
else:
    print('Fasle')

Enter a String  hgjhgjyg657656hjbh

Fasle

# 40. Convert a string to a list of characters.

In [25]:
s=input('Enter a String ')
s_l=[]
for i in range(len(s)):
    s_l.append(s[i])
print(s_l)

Enter a String  gadg 765725&^* aosydu

['g', 'a', 'd', 'g', ' ', '7', '6', '5', '7', '2', '5', '&', '^', '*', ' ', 'a', 'o', 's', 'y', 'd', 'u']

# 41. Check if two strings are anagrams.

In [31]:
s1=input('Enter the first string')       #if the sorted from of the two strings are equivalent we can say that the two strings are anagrams
s2=input('Enter the second string')
s1=sorted(s1.replace(' ',''))
s2=sorted(s2.replace(' ',''))
print(s1)
print(s2)
if s1==s2:
    print("Anagrams")
else:
    print("Not anagram")

Enter the first string ahdus usad
Enter the second string adsuadush

['a', 'a', 'd', 'd', 'h', 's', 's', 'u', 'u']
['a', 'a', 'd', 'd', 'h', 's', 's', 'u', 'u']
Anagrams

# 42. Encode a string using a Caesar cipher.

In [16]:
key=input("Enter a string")
shift=int(input("Enter the shift"))
key=key.lower()
message=''
for char in key:
    message+=chr((ord(char)+shift-ord('a'))%26+ord('a')) # we find the AScii value of each character in the string.Then add the shift.now to keep the interval of the ascii value of the 
print(message)                                           # shift within the limit we do the above equation. so that the net effect is ord(char)+shift

Enter a string yasy
Enter the shift -4

uwou

# 43. Decode a Caesar cipher encoded string.

In [19]:
key=input("Enter a string")
shift=int(input("Enter the shift"))
key=key.lower()
message=''
for char in key:
    message+=chr((ord(char)-shift-ord('a'))%26+ord('a'))
print(message)

Enter a string yasy
Enter the shift -4

cewc

# 44. Find the most frequent word in a string.

In [11]:
s=input("Enter the string")
d={}
l=0
f=''
s=s.split()
for i in s:                 # for each word in list s
    if i in d:              # if the word is a key in dictionary
        d[i]+=1             # value of that key +=1 
    else:
        d[i]=1              #gives the count of each word in the string as a dictionary with the keya as word and the value as no of occurrence of the word
    if d[i]>l:              # finds the word with the largest occurrence and stores it to 'f'
        l=d[i]
        f=i
print(d)
for i,m in d.items():
    print(f"freq of {i} ={m}")
print("Most frequent word= ",f)                   # prints the most frequent word in the string

Enter the string Hi in the world there is none in my world as you you are my world ..my world is beautiful

{'Hi': 1, 'in': 2, 'the': 1, 'world': 4, 'there': 1, 'is': 2, 'none': 1, 'my': 2, 'as': 1, 'you': 2, 'are': 1, '..my': 1, 'beautiful': 1}
freq of Hi =1
freq of in =2
freq of the =1
freq of world =4
freq of there =1
freq of is =2
freq of none =1
freq of my =2
freq of as =1
freq of you =2
freq of are =1
freq of ..my =1
freq of beautiful =1
Most frequent word=  world

# 45. Find all unique words in a string.

In [5]:
import string
s=input('Enter a String')
s=s.lower()
for p in string.punctuation:
    s=s.replace(p,'')         # remove all the punctuations
for i in s:
    if i in '1234567890':     # remove all the numbers
        s=s.replace(i,'')
words=set(s.split())          # the string is split into a list of constituent words and the list is converetd into a set to delete duplicate words
print(words)

Enter a String hi there how are You doing ...&855 *&* ;this fin ethis here hi there

{'there', 'are', 'doing', 'how', 'ethis', 'You', 'this', 'fin', 'hi', 'here'}

# 46. Count the number of syllables in a string.

In [6]:
s=input("Enter a string")
c=0
for i in s:
    if i in 'aeiouyAEIOUY':
        c+=1
print("No of syllables =",c)

Enter a string syllables

No of syllables = 3

# 47. Check if a string contains any special characters.

In [83]:
s1=input("enter a string")
s2=input("enter a string")
s3=input("Enter a string")
special_chars=[i for i in '[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]']
for i in s1:
    if i in special_chars:
        print("String 1 contains special characters")
        break
else:
    print("String 1 does not contain special Characters")
for i in s2:
    if i in special_chars:
        print("String 2 contains special characters")
        break
else:
    print("String 2 does not contain special Characters")
for i in s3:
    if i in special_chars:
        print("String 3 contains special characters")
        break
else:
    print("String 3 does not contain special Characters")

enter a string ho there
enter a string hi there!
Enter a string aks %$;b Here

String 1 does not contain special Characters
String 2 contains special characters
String 3 contains special characters

# 48. Remove the nth word from a string.

In [87]:
s=input("Enter a string")
n=int(input())
s_l=s.split()
s_n=''
for i in s_l:
    if s_l.index(i)==n-1:
        continue
    elif s_l.index(i)==0:
        s_n+=i
    else:
        s_n=s_n+' '+i
print(s_n)

Enter a string hi there this is a test messgae to the world
 6

hi there this is a messgae to the world

# 49. Insert a word at the nth position in a string.

In [12]:
s=input("enter the string")
n=int(input("Enter the position to insert word"))
word=input("Enter the word")
s_l=s.split()
s_l_n=s_l[:n-1]+[word]+s_l[n-1:]
s_new=" ".join(s_l_n)
s_new

enter the string This is a test message. Hi there
Enter the position to insert word 6
Enter the word Here

'This is a test message. Here Hi there'

# 50. Convert a CSV string to a list of lists.

In [101]:
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
l = csv_data.split('\n')
l_n=[]
for i in l:
    l2=[]
    l1=i.split(',')
    for j in l1:
        l2.append(j)
    l_n.append(l2)
print(l_n)

[['Name', ' Age', ' Country'], ['John', ' 25', ' USA'], ['Alice', ' 30', ' Canada'], ['Bob', ' 22', ' UK']]

# Lists

# 1. Create a list with integers from 1 to 10.

In [13]:
l=[]
for i in range(10):
    l.append(i+1)   #append() function does'nt need assigfment of the list to a new variable. The original list itself is updated.
print(l)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 2. Find the length of a list without using the `len()` function.

In [3]:
n=int(input("Enter the no of elemengts in the list"))
l=[input() for i in range(n)]
c=0
for i in l:
    c+=1
print(c)

Enter the no of elemengts in the list 10
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10

10

# 3. Append an element to the end of a list.

In [4]:
n=int(input("Enter the no of elemengts in the list"))
l=[input() for i in range(n)]
app=input("Enter the element to append")
l.append(app)
l

Enter the no of elemengts in the list 5
 1
 2
 3
 4
 5
Enter the element to append 6

['1', '2', '3', '4', '5', '6']

# 4. Insert an element at a specific index in a list.

In [8]:
n=int(input("Enter the no of elemengts in the list"))
l=[input() for i in range(n)]
ins=input("Enter the element to insert")
pos=int(input("Enter the position to insert"))
l.insert(pos-1,ins)
l

Enter the no of elemengts in the list 5
 1
 2
 3
 4
 5
Enter the element to insert 10
Enter the position to insert 4

['1', '2', '3', '10', '4', '5']

# 5. Remove an element from a list by its value.

In [12]:
l=[10,20,30,40,50,60]
l.remove(20)
l

[10, 30, 40, 50, 60]

# 6. Remove an element from a list by its index.

In [13]:
l=[10,20,30,40,50,60]
l.pop(4)
l

[10, 20, 30, 40, 60]

# 7. Check if an element exists in a list.

In [15]:
n=int(input("Enter the no of elemengts in the list"))
l=[input() for i in range(n)]
a=input("Enter the element to check")
if a in l:
    print('Exists')
else:
    print('Does not exist')

Enter the no of elemengts in the list 7
 !
 2
 #
 s
 F
 &
 7
Enter the element to check 7

Exists

# 8. Find the index of the first occurrence of an element in a list.

In [21]:
n=int(input("Enter the no of elemengts in the list"))
l=[input() for i in range(n)]
a=input("Enter the element to check")
i=l.index(a)
print(i+1)

Enter the no of elemengts in the list 6
 a
 2
 4
 f
 a
 s
Enter the element to check a

1

# 9. Count the occurrences of an element in a list.

In [ ]:
n=int(input("Enter the no of elemengts in the list"))
l=[input() for i in range(n)]
d={}
for i in l:
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
print(d)

Enter the no of elemengts in the list 10
 a
 b
 f
 a
 f
 f
 s
 a
 d
 b

{'a': 3, 'b': 2, 'f': 3, 's': 1, 'd': 1}

# 10. Reverse the order of elements in a list.

In [24]:
n=int(input("Enter the no of elemengts in the list"))
l=[input() for i in range(n)]
l.reverse()
l

Enter the no of elemengts in the list 6
 6
 5
 4
 3
 2
 1

['1', '2', '3', '4', '5', '6']

# 11. Sort a list in ascending order.

In [4]:
n=int(input("enetr the no of elements"))
l=[int(input()) for i  in range(n)]
l.sort()
l

enetr the no of elements 6
 10
 -10
 4
 0
 -4
 2

[-10, -4, 0, 2, 4, 10]

# 12. Sort a list in descending order.

In [5]:
n=int(input("enetr the no of elements"))
l=[int(input()) for i  in range(n)]
l.sort(reverse=True)
l

enetr the no of elements 6
 10
 -10
 4
 0
 -4
 2

[10, 4, 2, 0, -4, -10]

# 13. Create a list of even numbers from 1 to 20.

In [7]:
l=[]
for i in range(1,21):
  if i%2 ==0:
    l.append(i)
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# 14. Create a list of odd numbers from 1 to 20.

In [9]:
l=[]
for i in range(1,21):
  if i%2!=0:
    l.append(i)
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# 15. Find the sum of all elements in a list.

In [12]:
n=int(input("No of elements in the list"))
l=[int(input()) for i in range(n)]
sum=0
for i in l:
  sum+=i
print("sum= ",sum)

No of elements in the list 5
 3
 5
 7
 9
 10

sum=  34

# 16. Find the maximum value in a list.

In [14]:
n=int(input("No of elements in the list"))
l=[int(input()) for i in range(n)]
lar=l[0]
for i in l:
  if i>=lar:
    lar=i
print("Maximum Value= ",lar)

No of elements in the list 5
 67
 -90
 91
 45
 34

Maximum Value=  91

# 17. Find the minimum value in a list.

In [20]:
n=int(input("No of elements in the list"))
l=[int(input()) for i in range(n)]
print("Minimun value=",min(l))

No of elements in the list 5
 -91
 -92
 34
 101
 49

Minimun value=  -92

# 18. Create a list of squares of numbers from 1 to 10.

In [21]:
l=[]
for i in range(10):
  l.append((i+1)**2)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 19. Create a list of random numbers.

In [22]:
import random
l=[]
n=int(input())
for i in range(n):
  l.append(random.randint(-100,100))
l

 17

[30, 95, 44, 43, 46, -32, 15, -48, -75, 24, -76, -80, -94, -82, -90, -33, 77]

# 20. Remove duplicates from a list.

In [23]:
l=[1,2,2,2,3,4,1,5,'a',5,'a']
s=set(l)
l=list(s)
l

[1, 2, 3, 4, 5, 'a']

# 21. Find the common elements between two lists.

In [27]:
l1=[1,2,3,4,5,'a','v',4]
l2=['a','b','v',4,5,6]
l3=[]
for i in l1:
  for j in l2:
    if str(j)==str(i):
      l3.append(j)
print(l3)
l3=list(set(l3))
l3

[4, 5, 'a', 'v', 4]

['a', 4, 5, 'v']

# 22. Find the difference between two lists.

In [30]:
l1=[1,2,3,4,5,'a','v',4]
l2=['a','b','v',4,5,6]
l3=[]
for i in l1:
  for j in l2:
    if str(j)==str(i):
      break
  else:
    l3.append(i)
for j in l2:
  for i in l1:
    if str(i)==str(j):
      break
  else:
    l3.append(j)
l3=list(set(l3))
print(l3)

l1=[1,2,3,4,5,'a','v',4,10,'f','l']
l2=['a','b','v',4,5,6]
l3=[x for x in l1 if x not in l2 ]
l3

[1, 2, 3, 6, 'b']

[1, 2, 3, 10, 'f', 'l']

# 23. Merge two lists.

In [31]:
l1=[1,2,3,4,5,'a','v',4,10,'f','l']
l2=['a','b','v',4,5,6]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'a', 'v', 4, 10, 'f', 'l', 'a', 'b', 'v', 4, 5, 6]

# 24. Multiply all elements in a list by 2.

In [36]:
l1=[1,2,3,4,5,4,10,11,12,16,17,21]
for i in range(len(l1)):
    l1[i]=2*l1[i]
print(l1)

[2, 4, 6, 8, 10, 8, 20, 22, 24, 32, 34, 42]

# 25. Filter out all even numbers from a list.

In [37]:
l1=[1,2,3,4,5,4,10,11,12,16,17,21]
l2=[]
for i in l1:
  if i%2==0:
    continue
  else:
    l2.append(i)
l2

[1, 3, 5, 11, 17, 21]

# 26. Convert a list of strings to a list of integers.

In [7]:
l=['1','2','3','4','5']
l1=[]
for i in l:
    l1.append(int(i))
l1

[1, 2, 3, 4, 5]

# 27. Convert a list of integers to a list of strings.

In [8]:
l=[1,2,3,4,5]
l1=[]
for i in l:
    l1.append(str(i))
l1

['1', '2', '3', '4', '5']

# 28. Flatten a nested list.

In [39]:
l=[[1,2,3],[4,5,6,7],[8,9,10,11,12],21]
l_flat=[]
for i in l:
  if type(i) is list:
    for j in i:
      l_flat.append(j)
  else:
      l_flat.append(i)
l_flat

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 21]

In [40]:
l=[[1,2,3],[4,5,6,7],[8,9,10,11,12]]
l_f=[i for x in l for i in x]
print(l_f)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# 29. Create a list of the first 10 Fibonacci numbers.

In [42]:
n1=1
n2=1
n3=0
l=[n1,n2]
for i in range(2,10):
  n3=n2+n1
  n1=n2
  n2=n3
  l.append(n3)
l

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# 30. Check if a list is sorted.

In [44]:
l1=[10,1,-4,35,22,21]
l2=l1.copy()
l2.sort()
print(l1)
print(l2)
if l1==l2:
  print("List is sorted")
else:
  print("List is not sorted")

[10, 1, -4, 35, 22, 21]
[-4, 1, 10, 21, 22, 35]
List is not sorted

# 31. Rotate a list to the left by `n` positions.

In [46]:
l=[1, 3, 5, 11, 17, 21,32,40]
l1=l.copy()
x=len(l);
n=int(input())     
for i in  range(x):
  a=(i-n)%x   
  l[a]=l1[i]
print(l)

 2

[5, 11, 17, 21, 32, 40, 1, 3]

# 32. Rotate a list to the right by `n` positions.

In [47]:
l=[1, 3, 5, 11, 17, 21,32,40]
l1=l.copy()
x=len(l);
n=int(input())
for i in  range(x):
  a=(i+n)%x
  l[a]=l1[i]
print(l)

 4

[17, 21, 32, 40, 1, 3, 5, 11]

# 33. Create a list of prime numbers up to 50.

In [48]:
l=[]
for i in range(2,51):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    l.append(i)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# 34. Split a list into chunks of size `n`.

In [25]:
l=[1,2,3,4,5,6,7,8]
n=int(input("enter size of ecah chunk"))
l1=[]
for i in range(0,len(l),n):
    l1.append(l[i:i+n])
print(l1)

enter size of ecah chunk 3

[[1, 2, 3], [4, 5, 6], [7, 8]]

# 35. Find the second largest number in a list.

In [103]:
 n=int(input("Enter the no of elements in the string"))
l=[int(input()) for i  in range(n)]
lar=l[0]
x=0
for i in l:
  if i >=lar:
    lar=i
    x=l.index(i)
lar=l[0]
if x==0:
    lar=l[1]
else:
    lar=l[x-1]
for i in l:
  if l.index(i)==x:
    continue
  if i>lar:
    lar=i
print('Second largest =',lar)

Enter the no of elements in the string 7
 -10
 20
 10
 3
 -30
 25
 76

Second largest = 25

# 36. Replace every element in a list with its square.

In [71]:
n=int(input("Enter the no of elements in the string"))
l=[int(input()) for i  in range(n)]
for i in l:
  l[l.index(i)]=i**2
print(l)

Enter the no of elements in the string 5
 -7
 5
 -3
 -2
 10

[49, 25, 9, 4, 100]

# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [73]:
n=int(input("Enter the no of elements in the string"))
l=[(input()) for i  in range(n)]
d={}
for i in l:
  d[i]=l.index(i)
print(d)

Enter the no of elements in the string 6
 b
 t
 45
 r
 t6
 $

{'b': 0, 't': 1, '45': 2, 'r': 3, 't6': 4, '$': 5}

# 38. Shuffle the elements of a list randomly.

In [37]:
import random
l=[1,2,3,4,5,6,7,8,9,8,6]
random.shuffle(l)
print(l)

[8, 1, 7, 9, 2, 4, 5, 6, 3, 8, 6]

# 39. Create a list of the first 10 factorial numbers.

In [74]:
l=[]

for i in range(1,11):
  a=1
  for j in range(1,i+1):
    a=a*j
  l.append(a)
print(l)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

# 40. Check if two lists have at least one element in common.

In [79]:
l1=[1,2,4,5,'b',3]
l2=['a',3,'a','e']
l3=[]
for i in l1:
  for j in l2:
    if str(j)==str(i):
      l3.append(j)
if len(l3)==0:
  print("No common element found")
else:
  print("Common element found")
  print(list(set(l3)))

Common element found
[3]

# 41. Remove all elements from a list.

In [81]:
l1=[1,1,2,3,4,5,'a','b']
l2=l1.copy()
for i in l2:
  l1.remove(i)
print(l1)

l1=[1,2,3,4,5,'a','b']
l1.clear()
l1

[]

[]

# 42. Replace negative numbers in a list with 0.

In [82]:
n=int(input("Enter the no of elements in the string"))
l=[int(input()) for i  in range(n)]
for i in l:
  if i<=0:
    l[l.index(i)]=0
print(l)

Enter the no of elements in the string 6
 10
 -2
 -3
 5
 65
 -21

[10, 0, 0, 5, 65, 0]

# 43. Convert a string into a list of words.

In [15]:
s=input("Enter a string")
for i in s:
  if i in '!@#$%^&*()_+=-0987654321~`{}[]:";<>,./?\|\|':
    s=s.replace(i,'')
s_l=s.split()
s_l

Enter a string hi there . is my s...65 ft iar

['hi', 'there', 'is', 'my', 's', 'ft', 'iar']

# 44. Convert a list of words into a string.

In [84]:
n=int(input())
s=[input("Enter the list of words")for i in range(n)]
s_s=''
for i in s:
  if s.index(i)==0:
    s_s+=i
  else:
    s_s=s_s+' '+i
print(s_s)

 7
Enter the list of words today
Enter the list of words is
Enter the list of words my
Enter the list of words birthday
Enter the list of words !wish
Enter the list of words me today for
Enter the list of words birthday???7$%# $@@45 (

today  is  my birthday !wish  me today for  birthday???7$%# $@@45 (

# 45. Create a list of the first `n` powers of 2.

In [85]:
n=int(input("Enter a number"))
l=[2**i for i in range(n+1) ]
l

Enter a number 7

[1, 2, 4, 8, 16, 32, 64, 128]

# 46. Find the longest string in a list of strings.

In [86]:
n=int(input())
s=[input("Enter the list of words")for i in range(n)]
l=len(s[0])
for i in s:
  c=0
  for j in i:
    c+=1
  if c>l:
    l=c
    lar=i
print(lar)

 6
Enter the list of words strength
Enter the list of words body
Enter the list of words imminent
Enter the list of words danger
Enter the list of words prejudiced
Enter the list of words repent

prejudiced

# 47. Find the shortest string in a list of strings.

In [88]:
n=int(input())
s=[input("Enter the list of words")for i in range(n)]
l=len(s[0])
for i in s:
  c=0
  for j in i:
    c+=1
  if c<l:
    l=c
    sml=i
print(sml)

 6
Enter the list of words immaculate
Enter the list of words imminent
Enter the list of words retrospective
Enter the list of words retribution
Enter the list of words prominent
Enter the list of words tanquility

imminent

# 48. Create a list of the first `n` triangular numbers.

In [39]:
n=int(input("Enter a Number"))
l=[int(i*(i+1)/2) for i in range(1,n+1)]
l

Enter a Number 7

[1, 3, 6, 10, 15, 21, 28]

# 49. Check if a list contains another list as a subsequence.

In [44]:
l=[1,2,3,4,5,6,7,8]
s=[3,4,10]
s_ix=0
for i in l:
    if i==s[s_ix]:
        s_ix+=1
        if s_ix==len(s):
             print(True)
             break
else:
    print(False)

False

# 50. Swap two elements in a list by their indices.

In [90]:
l=[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
def swap(l,x,y):
  l[x],l[y]=l[y],l[x]
  print(l)
swap(l,3,11)

[2, 3, 5, 37, 11, 13, 17, 19, 23, 29, 31, 7, 41, 43, 47]

# Tuple

# 1. Create a tuple with integers from 1 to 5.

In [2]:
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

# 2. Access the third element of a tuple.

In [4]:
t=(1,2,3,4,5)
print('Third element =',t[2])

Third element = 3

# 3. Find the length of a tuple without using the `len()` function.

In [5]:
t=(1,2,3,4,5)
c=0
for i in t:
    c+=1
print("Length of tuple=",c)

Length of tuple= 5

# 4. Count the occurrences of an element in a tuple.

In [7]:
t=(1,2,3,4,5,1,2,3,'a','b','a')
d={}
for i in t:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d.items())

dict_items([(1, 2), (2, 2), (3, 2), (4, 1), (5, 1), ('a', 2), ('b', 1)])

# 5. Find the index of the first occurrence of an element in a tuple.

In [9]:
t=(1,2,3,4,5,1,2,3,'a','b','a')
l=list(t)
i=l.index('a')
print(i)

8

# 6. Check if an element exists in a tuple.

In [12]:
t=(1,2,3,4,5,1,2,3,'a','b','a')
i=input('Enter the element to search')
l=list(t)
for j in l:
    if i==str(j):
        print("element found")
        break
else:
    print("element not found")

Enter the element to search c

element not found

# 7. Convert a tuple to a list.

In [13]:
t=(1,2,3,4,5,1,2,3,'a','b','a')
l=list(t)
print(l)

[1, 2, 3, 4, 5, 1, 2, 3, 'a', 'b', 'a']

# 8. Convert a list to a tuple.

In [14]:
l=[1, 2, 3, 4, 5, 1, 2, 3, 'a', 'b', 'a']
t=tuple(l)
print(t)

(1, 2, 3, 4, 5, 1, 2, 3, 'a', 'b', 'a')

# 9. Unpack the elements of a tuple into variables.

In [15]:
t=(1,2,3)
v1,v2,v3=t
print(v1,v2,v3)

1 2 3

# 10. Create a tuple of even numbers from 1 to 10.

In [17]:
l=[x for x in range(1,11) if x%2==0]
t=tuple(l)
print(t)

(2, 4, 6, 8, 10)

# 11. Create a tuple of odd numbers from 1 to 10.

In [18]:
l=[x for x in range(1,11) if x%2!=0]
t=tuple(l)
print(t)

(1, 3, 5, 7, 9)

# 12. Concatenate two tuples.

In [23]:
t1=(1,2,3,4,5)
t2=(3,4,5,6,7,8,9)
l1=list(t1)
l2=list(t2)
(l1.extend(l2))
t3=tuple(l1)
print(t3)

t1=(1,2,3,4,5)
t2=(3,4,5,6,7,8,9)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 3, 4, 5, 6, 7, 8, 9)

# 13. Repeat a tuple three times

In [24]:
t1=(1,2,3,4,5)
t2=3*t1
print(t2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# 14. Check if a tuple is empty.|

In [46]:
t1=(1,2,3,4,5)
t2=()
def is_empty(t):
    if len(t)==0:
        print("Empty")
    else:
        print("Not Empty")
is_empty(t1)
is_empty(t2)

Not Empty
Empty

# 15. Create a nested tuple.

In [28]:
t=((1,2,3),(4,5,6),(7,8,9))
t

((1, 2, 3), (4, 5, 6), (7, 8, 9))

# 16. Access the first element of a nested tuple.

In [31]:
t=((1,2,3),(4,5,6),(7,8,9))
t[0][0]

1

# 17. Create a tuple with a single element.

In [36]:
i=int(input('enter a number'))
t=(i)
print(t)

enter a number -10

-10

# 18. Compare two tuples.

In [40]:
t1=(1,2,3,4,5)
t2=(3,4,5,6,7)
print("tuple1 == tuple2:", t1 == t2)  # Equality check
print("tuple1 != tuple2:", t1 != t2)  # Inequality check
print("tuple1 < tuple2:", t1 < t2)    # Less than check
print("tuple1 <= tuple2:", t1 <= t2)  # Less than or equal to check
print("tuple1 > tuple2:", t1 > t2)    # Greater than check
print("tuple1 >= tuple2:", t1 >= t2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

# 19. Delete a tuple.

In [47]:
t1=(1,2,3,4,5)
del t1
print(t1)

NameError: name 't1' is not defined

# 20. Slice a tuple.

In [46]:
t=(1,2,3,4,5,1,2,3,'a','b','a')
print(t[:])
print(t[2:])
print(t[:5])
print(t[2:10:2])

(1, 2, 3, 4, 5, 1, 2, 3, 'a', 'b', 'a')
(3, 4, 5, 1, 2, 3, 'a', 'b', 'a')
(1, 2, 3, 4, 5)
(3, 5, 2, 'a')

# 21. Find the maximum value in a tuple.
# 22. Find the minimum value in a tuple.

In [48]:
t=(1,2,3,4,5,1,2,3,10,12,7,6,8)
max_value=max(t)
print(max_value)

12

In [50]:
t=(1,2,-3,4,5,1,2,3,10,12,7,6,8)
min_v=min(t)
print(min_v)

-3

# 23. Convert a string to a tuple of characters.

In [53]:
s=input('enter a String')
t=tuple(s)
print(t)

enter a String hi there

('h', 'i', ' ', 't', 'h', 'e', 'r', 'e', ' ')

# 24. Convert a tuple of characters to a string.

In [56]:
t=('h', 'i', ' ', 't', 'h', 'e', 'r', 'e', ' ')
s=''
for i in t:
    s+=i
print(s)

s="".join(t)
print(s)

hi there
hi there

# 25. Create a tuple from multiple data types

In [57]:
t=(2,-3,3.145,True,'Hello')
print(t)

(2, -3, 3.145, True, 'Hello')

# 26. Check if two tuples are identical.

In [60]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
if tuple1==tuple2:
    print("tuple 1 and Tuple 2 are identical")
else:
     print("tuple 1 and Tuple 2 not are identical")
if tuple2==tuple3:
    print("tuple 2 and Tuple 3 are identical")
else:
    print("tuple 2 and Tuple 3 are not identical")
if tuple1==tuple3:
    print("tuple 1 and Tuple 3 are identical")
else:
    print("tuple 1 and Tuple 3 are not identical")

tuple 1 and Tuple 2 are identical
tuple 2 and Tuple 3 are not identical
tuple 1 and Tuple 3 are not identical

# 27. Sort the elements of a tuple.

In [62]:
t=(1,2,-3,4,5,1,2,3,10,12,7,6,8)
print(sorted(t))

[-3, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 10, 12]

# 28. Convert a tuple of integers to a tuple of strings.

In [3]:
t=(1,2,3,4,5)
t_s=tuple((str(i) for i in t))
print(t_s)

('1', '2', '3', '4', '5')

# 29. Convert a tuple of strings to a tuple of integers.

In [4]:
t=('10','20','30','40','50')
t_i=tuple((int(i)for i in t))
print(t_i)

(10, 20, 30, 40, 50)

# 30. Merge two tuples.

In [5]:
t1=(1,2,3,4,5)
t2=(3,4,5,6,7,8,9)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7, 8, 9)

# 31. Flatten a nested tuple.

In [ ]:
t=((1,2,3),(4,5,6),('a','v','c','d','e'))
l=[]
for i in t:
    for j in i:
        l.append(j)
t_f=tuple(l)
print(t_f)

(1, 2, 3, 4, 5, 6, 'a', 'v', 'c', 'd', 'e')

# 32. Create a tuple of the first 5 prime numbers.

In [2]:
def is_prime(num):
    if num<=0:
        return False
    for i in range(2,int(num/2)+1):
        if num%i==0:
            return False
    else:
        return True
l=[i for i in range(2,100) if is_prime(i)][:5]
print(l)

[2, 3, 5, 7, 11]

# 33. Check if a tuple is a palindrome.

In [4]:
t=(1,2,'a','a',2,1,'b',3)
l=list(t)
if l==l[::-1]:
    print("Palindrome")
else:
    print("Not a Palindrome")

Not a Palindrome

# 34. Create a tuple of squares of numbers from 1 to 5.

In [6]:
l=[i*i for i in range(1,6) ]
t=tuple(l)
print(t)

t=tuple(i*i for i in range(1,6))
print(t)

(1, 4, 9, 16, 25)
(1, 4, 9, 16, 25)

# 35. Filter out all even numbers from a tuple

In [7]:
t=(1,2,3,4,5,6,7,8,9)
t_e=tuple(i for i in t if i%2==0)
print(t_e)

(2, 4, 6, 8)

# 36. Multiply all elements in a tuple by 2.

In [9]:
t=(1,2,3,4,5,6,7,8,9)
t_n=tuple(i*2 for i in t)
print(t_n)

(2, 4, 6, 8, 10, 12, 14, 16, 18)

# 37. Create a tuple of random numbers.

In [13]:
import random
t=tuple(random.randint(-30,50) for i in range(6))
print(t)

(16, -23, 12, -8, 31, 8)

# 38. Check if a tuple is sorted.

In [1]:
def is_sorted(t):
    for i in range(len(t) - 1):
        if t[i] > t[i + 1]:
            return False
    return True
t1=(1,2,3,4,5,6,7,8,9)
t2=(1,4,2,3,7,2)
print(is_sorted(t1))
print(is_sorted(t2))

True
False

# 39. Rotate a tuple to the left by `n` positions.

In [31]:
t=(1,2,3,4,5)
n=int(input("Enter n"))
n=n%len(t)
n=len(t)-n-1
t_n=t[-n-1:]+t[:-n-1]
print(t_n)

Enter n 3

(4, 5, 1, 2, 3)

# 40. Rotate a tuple to the right by `n` positions.

In [32]:
t=(1,2,3,4,5)
n=int(input("Enter n"))
n=n%len(t)
n=len(t)-n-1
t_n=t[n+1:]+t[:n+1]
print(t_n)

Enter n 3

(3, 4, 5, 1, 2)

# 41. Create a tuple of the first 5 Fibonacci numbers.

In [42]:
l=[1,1]
[l.append(l[i]+l[i+1]) for i in range(3)]
print(tuple(l))

(1, 1, 2, 3, 5)

# 42. Create a tuple from user input.

In [43]:
n=int(input("Enter the no of elements in the tuple"))
l=[input() for i in range(n)]
print(tuple(l))

Enter the no of elements in the tuple 5
 -10
 a
 4
 5
 g

('-10', 'a', '4', '5', 'g')

# 43. Swap two elements in a tuple.

In [48]:
def swap(t,n1,n2):
    t[n1],t[n2]=t[n2],t[n1]
t=[1,2,3,4,5]
n1=1
n2=4
swap(t,n1,n2)
print(t)

[1, 5, 3, 4, 2]

# 44. Reverse the elements of a tuple.

In [51]:
t=(1,2,3,4,5)
t_r=t[::-1]
print(t_r)

(5, 4, 3, 2, 1)

# 45. Create a tuple of the first `n` powers of 2.

In [53]:
n=int(input())
t=tuple(2**(i+1) for i in range(n))
print(t)

 7

(2, 4, 8, 16, 32, 64, 128)

# 46. Find the longest string in a tuple of strings.

In [65]:
t=('abc','defg*67','hii','jkl','a','is')
print(max(t,key=len))

l=t[1]
for i in t:
    c=len(i)
    if c>len(l):
        l=i
print(l)

defg*67
defg*67

# 47. Find the shortest string in a tuple of strings.

In [67]:
t=('abc','defg*67','hii','jkl','1a','iss')
print(min(t,key=len))

l=t[1]
for i in t:
    c=len(i)
    if c<len(l):
        l=i
print(l)

1a
1a

# 48. Create a tuple of the first `n` triangular numbers.

In [73]:
#fromula for nth triangular number =n(n+1)/2 
n=int(input())
t=tuple(int(i*(i+1)/2) for i in range(1,n+1))
print(t)

 7

(1, 3, 6, 10, 15, 21, 28)

# 49. Check if a tuple contains another tuple as a subsequence.

# 50. Create a tuple of alternating 1s and 0s of length `n`.

In [70]:
n=int(input())
t=tuple(1 if i%2!=0 else 0 for i in range(1,n+1))
print(t)

 6

(1, 0, 1, 0, 1, 0)

# Set

# 1. Create a set with integers from 1 to 5.

In [4]:
s={i+1 for i in range(5)}
print(s)

{1, 2, 3, 4, 5}

# 2. Add an element to a set.

In [5]:
s={i+1 for i in range(5)}
s.add(12)
s

{1, 2, 3, 4, 5, 12}

# 3. Remove an element from a set.

In [8]:
s={i+1 for i in range(5)}
s.add(12)
s.remove(3)
s

{1, 2, 4, 5, 12}

# 4. Check if an element exists in a set.

In [10]:
s={i+1 for i in range(5)}
s.add(12)
if 2 in s:
    print("Exist")
else:
    print("Does not exist")

Exist

# 5. Find the length of a set without using the `len()` function.

In [12]:
s={i+1 for i in range(5)}
s.add(12)
c=0
for i in s:
    c+=1
print("No of elements :",c)
s

No of elements : 6

{1, 2, 3, 4, 5, 12}

# 6. Clear all elements from a set.

In [13]:
s={i+1 for i in range(5)}
s.add(12)
s.clear()
s

set()

# 7. Create a set of even numbers from 1 to 10.

In [14]:
s={i for i in range(1,11) if i%2==0}
print(s)

{2, 4, 6, 8, 10}

# 8. Create a set of odd numbers from 1 to 10.

In [15]:
s={i for i in range(1,11) if i%2!=0}
print(s)

{1, 3, 5, 7, 9}

# 9. Find the union of two sets.

In [17]:
s1={2, 4, 6, 8, 10}
s2={1, 3, 5, 7, 9}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# 10. Find the intersection of two sets.

In [19]:
s1={2, 4, 6, 8, 10}
s2={1, 3, 5, 7, 9,10,2}
s3=s1.intersection(s2)
s3

{2, 10}

# 11. Find the difference between two sets.

In [21]:
s1={2, 4, 6, 8, 10}
s2={1, 3, 5, 7, 9,10,2}
print(s2.difference(s1))

{1, 3, 5, 7, 9}

# 12. Check if a set is a subset of another set.

In [27]:
s1={2, 4, 6, 8, 10}
s2={10,2,4,3}
print(s2.issubset(s1))

False

# 13. Check if a set is a superset of another set.

In [30]:
s1={2, 4, 6, 8, 10}
s2={10,2,4}
print(s1.issuperset(s2))

True

# 14. Create a set from a list.

In [31]:
s=set([i for i in range(10)])
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# 15. Convert a set to a list.

In [32]:
s={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
l=list(s)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 16. Remove a random element from a set.

In [57]:
import random
s={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
r=random.choice(list(s))
s.remove(r)
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8}

# 17. Pop an element from a set.

In [39]:
s={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
s.pop()
print(s)
s.pop()
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{2, 3, 4, 5, 6, 7, 8, 9}

# 18. Check if two sets have no elements in common.

In [43]:
s1={2, 4, 6, 8, 10}
s2={1, 3, 5, 7, 9,10}
if len(s1.intersection(s2)) !=0 :
    print("Common Elements")
else:
    print("Mo Common Elements")

Common Elements

# 19. Find the symmetric difference between two sets.

In [46]:
s1={2, 4, 6, 8, 10,1,3}
s2={1, 3, 5, 7, 9,10,8}
print(s1.symmetric_difference(s2))

{2, 4, 5, 6, 7, 9}

# 20. Update a set with elements from another set.

In [ ]:
s1={2, 4, 6, 8, 10,1,3}
s2={1, 3, 5, 7, 9,10,8}
s1.update(s2)

# 21. Create a set of the first 5 prime numbers.

In [12]:
def is_prime(num):
    if num<=0:
        return False
    for i in range(2,int(num/2)+1):
        if num%i==0:
            return False
    else:
        return True
s=set()
i=2
while(len(s)<5):
    if is_prime(i):
        s.add(i)
    i+=1
s

{2, 3, 5, 7, 11}

# 22. Check if two sets are identical.

In [14]:
s1={5,3, 8, 10}
s2={ 3, 5, 10,8}
if s1==s2:
    print("Identical")
else:
    print("Not identical")

Identical

# 23. Create a frozen set.

In [15]:
l=[i for i in range(10)]
s=frozenset(l)
print(s)

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

# 24. Check if a set is disjoint with another set.

In [17]:
s1={5,3, 8, 10}
s2={2,4,6,9,7}
if s1.isdisjoint(s2):
    print("Disjoint set")
else:
    print("Not disjoint set")

Disjoint set

# 25. Create a set of squares of numbers from 1 to 5.

In [18]:
s={i*i for i in range(1,6)}
s

{1, 4, 9, 16, 25}

# 26. Filter out all even numbers from a set.

In [20]:
s={i for i in range(10)}
print(s)
s={i for i in s if i%2!=0}
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 3, 5, 7, 9}

# 27. Multiply all elements in a set by 2.

In [22]:
s={i for i in range(10)}
s={i*2 for i in s}
s

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

# 28. Create a set of random numbers.

In [24]:
import random
s={random.randint(1,100) for i in range(10)}
s

{8, 27, 30, 38, 47, 74, 78, 79, 100}

# 29. Check if a set is empty.

In [29]:
s=()
if len(s)==0:
    print("Set Empty")
else:
    print("Set not Empty")

if not s:
       print("Set Empty")
else:
    print("Set not Empty")

Set Empty
Set Empty

# 30. Create a nested set

In [34]:
set1={1,2,3,4,5}
set2={6,7,8}
n_s={frozenset(set1),frozenset(set2)}
n_s

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8})}

# 31. Remove an element from a set using the discard method.

In [35]:
s={1,2,3,4,5}
s.discard(3)
s

{1, 2, 4, 5}

# 32. Compare two sets.

In [39]:
s1={1,2,3,4,5}
s2={6,7,8}
is_similar= s1==s2
is_disjoint= s1.isdisjoint(s2)
is_subset=s2.issubset(s1)
is_superset=s1.issuperset(s2)
u_s=s1.union(s2)
i_s=s1.intersection(s2)
d_s=s1.difference(s2)
print("Is Similar",is_similar)
print("Is disjoint",is_disjoint)
print("Is subset",is_subset)
print("Is superset",is_superset)
print("Union :",u_s)
print("Intersection :",i_s)
print("Diffrenece :",d_s)

Is Similar False
Is disjoint True
Is subset False
Is superset False
Union : {1, 2, 3, 4, 5, 6, 7, 8}
Intersection : set()
Diffrenece : {1, 2, 3, 4, 5}

# 33. Create a set from a string.

In [40]:
s=input('Enter a string')
s_s={i for i in s}
s_s

Enter a string jh at &*5 ai

{' ', '&', '*', '5', 'a', 'h', 'i', 'j', 't'}

# 34. Convert a set of strings to a set of integers.

In [41]:
s1={'10',"2","30",'40'}
s2={int(i) for i in s1}
s2

{2, 10, 30, 40}

# 35. Convert a set of integers to a set of strings.

In [44]:
s1={1,2,3,4,5,6,6,6,7}
s2={str(i) for i in s1}
s2

{'1', '2', '3', '4', '5', '6', '7'}

# 36. Create a set from a tuple.

In [45]:
t=(i for i in range(10))
s=set(t)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# 37. Convert a set to a tuple.

In [46]:
s={i for i in range(10)}
t=tuple(s)
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# 38. Find the maximum value in a set.

In [49]:
s={22,33,11,55,-10}
print(max(s))

55

# 39. Find the minimum value in a set.

In [52]:
s={22,33,11,55,-10,-12,22}
print(min(s))

-12

# 40. Create a set from user input.

In [ ]:
n=int(input("Enter the no of elements"))
s={input() for i in range(n)}
s

Enter the no of elements 7
 4
 5
 3
 -10
 9
 4
 5

{'-10', '3', '4', '5', '9'}

# 41. Check if the intersection of two sets is empty.

In [56]:
s1={22,33,11,55,-10,-12}
s2={2,10,-33,12}
if len(s1.intersection(s2))==0:
    print("Intersection set is empty")
else:
    print("Intersection set is not empty")

Intersection set is empty

# 42. Create a set of the first 5 Fibonacci numbers.

In [59]:
n1=0
n2=1
s=set()
for i in range(7):
    n3=n1+n2
    s.add(n3)
    n1,n2=n2,n3
s

{1, 2, 3, 5, 8, 13, 21}

# 43. Remove duplicates from a list using sets.

In [60]:
l=[1,2,3,4,5,4,3,2,1]
l_n=list(set(l))
l_n

[1, 2, 3, 4, 5]

# 44. Check if two sets have the same elements, regardless of their count.

In [63]:
l1=[1,2,3,4,5,6,2,3,4,10]
l2=[1,2,3,4,5,6]
if set(sorted(l1))==set(sorted(l2)):
    
    print("True")
else:
    print("False")

False

# 45. Create a set of the first `n` powers of 2.

In [64]:
n=int(input('enter n'))
s={2**i for i in range(1,n+1)}
s

enter n 6

{2, 4, 8, 16, 32, 64}

# 46. Find the common elements between a set and a list.

In [67]:
s={1,2,3,4,5,'a','z'}
l=[4,5,6,7,10,'a']
l=set(l)
l1=[i for i in s if i in l]
print(l1)

[4, 5, 'a']

# 47. Create a set of the first `n` triangular numbers.

In [71]:
n=int(input("Enter n"))
s={i*int((i+1)/2) for i in range(1,n)}
s

Enter n 7

{1, 2, 6, 8, 15, 18}

# 48. Check if a set contains another set as a subset.

In [75]:
s1={1,2,3,4,5}
s2={5,4,6}
if s2.issubset(s1):
    print("set 2 is a subset of Set 1")
else:
    print("Set 2 is not a subset of Set 1")

Set 2 is not a subset of Set 1

# 49. Create a set of alternating 1s and 0s of length `n`.

In [80]:
n=int(input('Enter n'))
l=[0 if i%2!=0 else 1 for i in range(n)]
print(l)
s={0 if i%2!=0 else 1 for i in range(n)}
s

Enter n 7

[1, 0, 1, 0, 1, 0, 1]

{0, 1}

# 50. Merge multiple sets into one.

In [81]:
s1={2,3,4,51}
s2={2,3,6,7,10}
print(s1.union(s2))

{2, 3, 4, 6, 7, 10, 51}